<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="logDirectory" value="${basedir}/Logs"/>

	<!-- the targets to write to -->
	<targets>
		<target name="Debug" xsi:type="File" fileName="${logDirectory}/Debug/${date:format=yyyyMMddHH}.txt" layout="${longdate} | ${level:uppercase=true} | logger: ${logger} | action: ${aspnet-mvc-action} | message: ${message}" encoding="utf-8" />
		<target name="Info" xsi:type="File" fileName="${logDirectory}/Info/${date:format=yyyyMMddHH}.txt" layout="${longdate} | ${level:uppercase=true} | logger: ${logger} | action: ${aspnet-mvc-action} | message: ${message}" encoding="utf-8" />
		<target name="Warn" xsi:type="File" fileName="${logDirectory}/Warn/${date:format=yyyyMMddHH}.txt" layout="${longdate} | ${level:uppercase=true} | logger: ${logger} | action: ${aspnet-mvc-action} | message: ${message}" encoding="utf-8" />
		<target name="Error" xsi:type="File" fileName="${logDirectory}/Error/${date:format=yyyyMMddHH}.txt" layout="${longdate} | ${level:uppercase=true} | logger: ${logger} | action: ${aspnet-mvc-action} | message: ${message}" encoding="utf-8" />

	</targets>

	<rules>
		<logger name="PayCenter.*" minlevel="Debug" writeTo="Debug" />
		<logger name="PayCenter.*" minlevel="Info" writeTo="Info" />
		<logger name="PayCenter.*" minlevel="Warn" writeTo="Warn" />
		<logger name="PayCenter.*" minlevel="Error" writeTo="Error" />
	</rules>
</nlog>